.loader {
  border-radius: 50%;
  border: 32px solid lightgray;
  border-bottom: 32px solid black;
  width: 150px;
  height: 150px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
